@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
    color: #0A2342;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    max-width: 100%;
}

main {
    margin: 0 auto;
    width: 90%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: 1px solid rgba(234, 234, 234, 1);
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.tittle-header {
    font-weight: 700;
    font-size: 1.125rem;
}

.menu-link {
    font-weight: 500;
    font-size: .9rem;
    color: #0A2342;
}

.btn-header {
    padding: 10px 25px;
    border: none;
    background: #0A2342;
    border-radius: 0.5rem;
    color: #FFFFFF;
    font-weight: 600;
    transition: .5s;
}

.btn-header:hover {
    background-color: #1A3B6E;
}

.btn-header:active {
    transform: scale(.9);
}

.hamburguer {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburguer span {
    background: #0A2342;
    width: 25px;
    height: 3px;
    border-radius: 6px;
}

.background-inicio {
    margin: 100px 0;
    min-height: 450px;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(10, 35, 66, 0.8) 0%, rgba(10, 35, 66, 0.2) 100%), url(../images/dentista2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background_content,
.text-background {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-background h1 {
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
    max-width: 540px;
}

.text-background p {
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
    max-width: 540px;
    margin-bottom: 20px;
}

.btn-inicio {
    max-width: 260px;
    padding: 16px 25px;
    border: none;
    background: #FFFFFF;
    border-radius: 0.5rem;
    color: #0A2342;
    font-weight: 900;
    transition: .5s ease-in-out;
}

.btn-inicio:hover {
    background-color: #1A3B6E;
    color: #FFFFFF;
}

.btn-inicio:active {
    transform: scale(.9);
}

.sobre-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 100%;
    gap: 20px;
    scroll-margin-top: 100px;
}

.image-sobre {
    width: 580px;
    border-radius: .8rem;
}

.image-doutora {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: .8rem;
}

.text-sobre {
    width: 550px;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
}

.text-sobre p {
    font-weight: 400;
    font-size: 1rem;
    color: #556479;
    margin-bottom: 40px;
}

.button-insta {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 1rem;
    color: #0A2342;
}

.tratamento-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
    scroll-margin-top: 10px;
}

.content-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: .5rem;
    -webkit-box-shadow: 3px 4px 15px 0px rgba(85, 100, 121, 0.8);
    box-shadow: 3px 4px 15px 0px rgba(85, 100, 121, 0.8);
    transition: .7s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.image-card {
    width: 100%;
    object-fit: cover;
    border-radius: .8rem;
}

.btn-tratamentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.content-depoimentos {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    margin-bottom: 100px;
    scroll-margin-top: 40px;
    overflow: hidden;
}


.cards-depoimentos {
    display: flex;
    max-width: 100vw;
    gap: 40px;
    margin: 0 auto;
}

.img-depoimentos {
    width: 200px;
    border-radius: .8rem;
}

.cards-depoimentos div {
    animation: slide 14s infinite linear;
    width: max-content;
}

.content-contato {
    display: flex;
    align-items: center;
    background: #0A2342;
    gap: 60px;
    min-height: 490px;
    border-radius: .8rem;
    padding: 4rem;
    margin-bottom: 100px;
    scroll-margin-top: 60px;
}

.content-contato h2 {
    color: #FFFFFF;
    line-height: 2.25rem;
}

.content-contato p {
    color: rgb(255 255 255 / 0.8);
    font-size: 1.2rem;
    line-height: 1.5rem;
}

label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #556479;
}

.text-contato {
    width: 50%;
}

.content-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
    padding: 2rem;
    border-radius: .8rem;
    background: #FFFFFF;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input,
textarea {
    padding: 8px 12px;
    width: 100%;
    height: 42px;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    outline-color: #1A3B6E;
}

.button-form {
    padding: 18px;
    border: none;
    background: #0A2342;
    border-radius: 0.5rem;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s;
}

.button-form:hover {
    background: #1A3B6E;
}

.button-form:active {
    transform: scale(.9);
}

footer {
    width: 100%;
    background: rgb(234 234 234 / 0.5);
    border-top: 1px solid rgba(234, 234, 234, 1);
    padding: 48px;
}

.text-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 60px;
    margin-bottom: 40px;
}

.text-footer h2 {
    font-weight: 700;
    font-size: 1.2rem;
}

.text-footer p,
.footer-social p {
    color: #556479;
    line-height: 1.5rem;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    padding: 32px 20px;
    margin-top: 70px;
}

.button-wpp {
    position: fixed;
    bottom: 20px;
    right: 10px;
    max-width: 60px;
    z-index: 1;
}

.button-wpp img {
    width: 100%;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-1140px);
    }
}

@media (max-width: 976px) {

    body {
        overflow-x: hidden;
    }

    header {
        position: fixed;
        background: rgba(228, 221, 221, 0.589);
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .text-background {
        width: 75%;
    }

    .text-background h1 {
        font-size: 2.9rem;
    }

    .hamburguer {
        display: flex;
    }

    .button-wpp {
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 40px;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: rgba(228, 221, 221, 0.589);
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 50px;
        transform: translateX(100%);
        transition: .4s ease-in-out;
    }

    .menu-link {
        font-size: 1.5rem;
        font-weight: 700;
    }

    nav {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .content-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 770px) {

    body {
        overflow-x: hidden;
    }

    .text-background {
        width: 74%;
    }

    .text-background h1 {
        font-size: 1.5rem;
    }

    .text-background p {
        font-size: .9rem;
    }

    .btn-inicio {
        text-align: center;
    }

    .sobre-section,
    .content-contato {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    .image-sobre, .text-sobre {
        width: 100%;
    }

    .button-insta {
        justify-content: center;
    }

    .menu-link {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .text-contato {
        width: 100%;
    }

    .text-contato h2 {
        font-size: 1.8rem;
    }

    .text-footer {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .tratamento-section {
        text-align: center;
    }

    .content-contato {
        padding: 24px;
    }

    .content-form {
        width: 100%;
        text-align: start;
    }

    .text-contato p {
        font-size: 1rem;
    }

    .button-form {
        width: 100%;
        font-size: .9rem;
    }

    .footer-social {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 0;
    }
}

@media (max-width: 480px) {

    header {
        position: fixed;
        width: 100vw;
        max-width: 100%;
    }

    .hamburguer span {
        height: 2px;
    }

    .tittle-header {
        font-size: .9rem;
    }

    .text-background {
        width: 77%;
    }

    .text-background h1 {
        font-size: 1.5rem;
    }

    .text-background p {
        font-size: .9rem;
    }

    .btn-inicio {
        width: 77%;
        font-size: .8rem;
    }

    .image-sobre {
        width: 100%;
    }

    .text-sobre {
        width: 100%;
    }

    .button-insta {
        justify-content: center;
    }

    .tratamento-section h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .btn-tratamentos {
        text-align: center;
    }

    .content-contato {
        padding: 24px;
    }

    .content-form {
        width: 100%;
        text-align: start;
    }

    .text-contato p {
        font-size: 1rem;
    }

    .button-form {
        width: 100%;
        font-size: .9rem;
    }

    footer {
        padding: 24px;
    }

    .text-footer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .footer-social {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        font-size: .8rem;
        padding: 0;
    }
}